@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(246, 246, 246);
}